.username{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #262626;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    margin: -5px 0 -6px;
}
.email{
    display: inline;
    font-weight: 600;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.post-img-card{
    border: 0.8px solid #222;
    display: flex;
    width: 100%;
    height: 140px;
}

.post-img-card div img{
    object-fit: cover
}