.post__img img{
    width: 100%;
    max-height: 100vh;
}
.post__img img{
    object-fit: cover
}

.post-card h5{
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
    line-height: inherit;
}
.post-card p{
    font-size: 14px;
    // line-height: normal;
    background: 0 0;
    border: 0;
    color: #8e8e8e;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.post-card .likes-comments-detail{
    line-height: inherit;
    font-size: 13px;
}

.placeholder-img{
    background-image: url("../../../assets/images/loaders/loader.gif");
    min-height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
