<!-- Tool Bar -->
<nav class="navbar navbar-light bg-white py-0 sticky-top d-flex justify-content-between"
    style="display:flex;align-items:center;border-bottom:0.5px solid #e3e3e3">
    <span>
        <a class="navbar-brand" href="javascript:history.back()">
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg></a>
    </span>
    <p class="my-auto"><b>{{ 'Settings' }}</b></p>
    <span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
</nav>


<div class="jumbotron jumbotron-fluid container bg-transparent my-3">
    <div class="container">
        <ul class="list-group list-group-flush text-left">
            <li class="list-group-item" routerLink="/create-post">Create New Post</li>
            <li class="list-group-item">Recent Activity</li>
            <li class="list-group-item">Terms & Conditions</li>
            <li class="list-group-item">Privacy & Policy</li>
            <li class="list-group-item" (click)="logout()">Log Out</li>
        </ul>
    </div>
</div>