<!-- Tool Bar -->
<nav class="navbar navbar-light color-theme py-0 sticky-top d-flex justify-content-between"
    style="display:flex;align-items:center;border-bottom:0.5px solid #e3e3e3">
    <span>
        <a class="navbar-brand" href="javascript:history.back()">
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg></a>
    </span>
    <p class="my-auto"><b>{{ 'Settings' }}</b></p>
    <span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
</nav>


<div class="jumbotron jumbotron-fluid container bg-transparent pt-0 mt-0">
    <div class="container" style="min-height: auto;">
        <ul class="list-group list-group-flush text-left">
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 text-uppercase text-muted bg-transparent" disabled><small><b>general</b></small></li>
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 bg-transparent">
                <span>Dark theme</span>
                <span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1"></label>
                    </div>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 bg-transparent">Recent Activity</li>
            <div class="dropdown-divider my-0"></div>
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 text-uppercase text-muted bg-transparent" disabled><small><b>Support</b></small></li>
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 bg-transparent">Help</li>
            
            <div class="dropdown-divider my-0"></div>
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 text-uppercase text-muted bg-transparent" disabled><small><b>about</b></small></li>
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 bg-transparent">Terms & Conditions</li>
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 bg-transparent">Privacy & Policy</li>
            
            <div class="dropdown-divider my-0"></div>
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 text-uppercase text-muted bg-transparent" disabled><small><b>account</b></small></li>
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 bg-transparent">
                <span>Create New Post</span>
                <span routerLink="/create-post">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between px-0 mx-0 border-0 bg-transparent" (click)="logout()">Log Out</li>
        </ul>
    </div>

    <div class="text-center mt-5">
        <small class="text-muted">Version 1.0</small><br>
        <small class="text-muted">Developed by Pradeep Suthar</small>
    </div>
</div>