<li class="media">
    <div *ngIf="!user.photoURL" class="mx-3 rounded-circle" style="background:linear-gradient(to right, red, purple);padding: 2px;"><span class="px-2 py-3">{{user.displayName.slice(0,1)}}</span></div>
    <div *ngIf="user.photoURL">
        <img [src]="user.photoURL" [alt]="user.displayName" class="mx-3 rounded-circle" width="45" height="45" style="background:linear-gradient(to right, red, purple);padding: 2px;">
    </div>
    <div class="media-body pt-2">
        <div class="float-left my-auto">
            <small><b>{{user.displayName}}</b></small>
            <p>{{user.email}}</p>
        </div>
        <div class="float-right my-auto">
            <button class="btn btn-sm btn-danger follow-btn shadow-sm"
                *ngIf="logedInUserEmail==user.email; else otherUser" disabled>You</button>
            <ng-template #otherUser>
                <ng-container *ngIf="follow; else unfollow">
                    <button class="btn btn-sm btn-danger follow-btn shadow-sm" (click)="followThisUser()">Follow</button>
                </ng-container>
                <ng-template #unfollow>
                    <button class="btn btn-sm btn-danger follow-btn shadow-sm" (click)="followThisUser()">Unfollow</button>
                </ng-template>
            </ng-template>
        </div>
    </div>
</li>