<app-header></app-header>

<div class="nav-scroller border-bottom color-theme">
  <nav class="nav d-flex justify-content-between p-2">
    <a class="text-dark mx-2 text-decoration-none" href="#"><small><b>For you</b></small></a>
    <a class="text-dark mx-2 text-decoration-none" href="#"><small><b>Trending</b></small></a>
    <a class="text-dark mx-2 text-decoration-none" href="#"><small><b>News</b></small></a>
    <a class="text-dark mx-2 text-decoration-none" href="#"><small><b>Sports</b></small></a>
    <a class="text-dark mx-2 text-decoration-none" href="#"><small><b>Enterainment</b></small></a>
  </nav>
</div>

<div class="bg-transparent">
  <div *ngFor="let post of list">
    <app-single-post [post]="post"></app-single-post>
  </div>
  <br><br>
</div>