.commentBox{
    width: 100%;
    padding: 8px 13px 8px;
    margin: 0;
    font-size: 13px;
    background-color: #f7f7f7;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}
.commentBox:focus{
    outline: none;
}

.commentPostBtn{
    border: 3px solid #dc3545;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.commentPostBtn:focus{
    outline: none !important;
}