<br><br><br><br>
<div class="jumbotron jumbotron-fluid text-center bg-transparent border-0 mt-5 pt-5">
    <div class="container">
        <img src="https://www.accountingweb.co.uk/sites/all/modules/custom/sm_pp_user_profile/img/default-user.png"
            alt="Avtar" class="rounded-circle" width="100" height="100">
        <p class="lead pt-3">Sign in now to use more features.</p>
        <button (click)="googleSignin()" class="btn btn-danger btn-sm rounded-0">Sign in with Google</button>
    </div>
</div>